parameters:
    level: max
    paths:
        - src/
        - tests/
    tmpDir: .phpstan.cache
    symfony:
        containerXmlPath: var/cache/dev/Watchdog_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
